[submodule "Sampling Model"]
	path = Sampling Model
	url = https://github.com/haefnerlab/sampling_decision
[submodule "tools"]
	path = tools
	url = git@bitbucket.org:haefnerlab/tools.git
[submodule "psignifit"]
	path = psignifit
	url = git@github.com:wichmann-lab/psignifit.git
